<div class="container">
  <div class="container-title">
    <h2 class="title">Administración de Usuarios</h2>
    <custom-button (clicked)="openAddSidebar()" icon="plus" text="Agregar nuevo usuario" />
  </div>
  <div class="search-container">
    <div class="search-input">
      <input matInput (keyup)="applyFilter(input.value)" #input
        placeholder="Buscar por ID, proveedor, nombre, correo..." />
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element" class="title-color">{{ element.id }}</td>
    </ng-container>
    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>
    <!-- Estado -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ROL</th>
      <td mat-cell *matCellDef="let element">
        <div class="estado-container"
          [ngClass]="{'active': element.rol === 'Admin', 'inactive': element.rol === 'Visor'}">
          <span> {{ element.rol }} </span>
        </div>
      </td>
    </ng-container>
    <!-- Correos -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</th>
      <td mat-cell *matCellDef="let element">
        <div class="mail-container">
          <span class="mail-text"> {{ element.email }}</span>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="lastUpdated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ULT. ACT.</th>
      <td mat-cell *matCellDef="let element">
        <div class="mail-container">
          <span class="mail-text"> {{ element.lastUpdated }}</span>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
      <td mat-cell *matCellDef="let element">
        <div class="mail-container">
          <span class="mail-text"> {{ element.status }}</span>
        </div>
      </td>
    </ng-container>
    <!-- Acción -->
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef class="text-center">ACCIÓN</th>
      <td mat-cell *matCellDef="let element" class="text-center ">
        <button mat-icon-button (click)="edit(element)">
          <i class="fa-solid fa-pencil black-color action-icon"></i>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<!-- Sidebar add user -->
<div class="sidebar-overlay" *ngIf="isSidebarAddOpen"></div>
<div class="sidebar" *ngIf="isSidebarAddOpen">
  <div class="sidebar-header">
    <h3 class="sidebar-title">Agregar Usuario</h3>
    <button class="close-btn" (click)="closeAddSidebar()">✖</button>
  </div>
  <div class="sidebar-body">
    <div class="info">
      <div class="info-contacto">
        <h4>ID: 10</h4>
      </div>
      <div class="info-status">
        <div class="estado-container sidebar-status"
          [ngClass]="{'active': isActive === true, 'inactive': isActive === false}">
          <i class="fa-regular"
            [ngClass]="{'fa-circle-check': isActive === true, 'fa-circle-xmark': isActive === false}"></i>
          <span> {{ isActive ? 'Activo' : 'Inactivo' }} </span>
        </div>
        <toggle-custom [(checked)]="isActive" />
      </div>
    </div>
    <div class="container-data">
      <mat-form-field class="custom-field" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" type="text">
      </mat-form-field>
      <mat-form-field class="custom-field" appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Correo" type="email">
      </mat-form-field>
      <span class="data-title">Rol</span>
      <div class="rol-option">
        <div class="checkbox-mark">
          <input type="checkbox" id="mark1" />
          <span class="checkbox-mark-text">Admin</span>
        </div>
        <div class="checkbox-mark">
          <input type="checkbox" id="mark2" />
          <span class="checkbox-mark-text">Visor</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <mat-divider></mat-divider>
  <div class="sidebar-footer">
    <custom-button text="Guardar cambios" class="sidebar-button" />
  </div>
</div>
<!-- Sidebar edit user -->
<div class="sidebar-overlay" *ngIf="isSidebarEditOpen"></div>
<div class="sidebar" *ngIf="isSidebarEditOpen">
  <div class="sidebar-header">
    <h3 class="sidebar-title">Editar Usuario</h3>
    <button class="close-btn" (click)="closeEditSidebar()">✖</button>
  </div>
  <div class="sidebar-body">
    <div class="info">
      <div class="info-contacto">
        <h4>ID: 10</h4>
      </div>
      <div class="info-status">
        <div class="estado-container sidebar-status"
          [ngClass]="{'active': isActive === true, 'inactive': isActive === false}">
          <i class="fa-regular"
            [ngClass]="{'fa-circle-check': isActive === true, 'fa-circle-xmark': isActive === false}"></i>
          <span> {{ isActive ? 'Activo' : 'Inactivo' }} </span>
        </div>
        <toggle-custom [(checked)]="isActive" />
      </div>
    </div>
    <div class="container-data">
      <div class="container-data-correos">
        <div class="correo-container-edit">
          <mat-form-field class="custom-field" appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Correo" type="email">
          </mat-form-field>
          <div class="container-correo-icon">
            <i class="fa-solid fa-pencil"></i>
          </div>
        </div>
        <div class="correo-container-edit">
          <mat-form-field class="custom-field" appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Correo" type="email">
          </mat-form-field>
          <div class="container-correo-icon">
            <i class="fa-solid fa-pencil"></i>
          </div>
        </div>
      </div>
      <span class="data-title">Rol</span>
      <div class="rol-option">
        <div class="checkbox-mark">
          <input type="checkbox" id="mark1" />
          <span class="checkbox-mark-text">Admin</span>
        </div>
        <div class="checkbox-mark">
          <input type="checkbox" id="mark2" />
          <span class="checkbox-mark-text">Visor</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <mat-divider></mat-divider>
  <div class="sidebar-footer">
    <custom-button text="Guardar cambios" class="sidebar-button" />
  </div>
</div>