$morado-800: #57348C; 
$morado-700: #7143B5;  
$morado-300: #BF94FF;
$morado-50: #F5EFFF;

$state-pending: #FBEFB5;
$state-approved: #D4E9C3;
$state-cancel: #F8C1C5;


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../../assets/images/backg-sr.png'); /* Ruta de la imagen */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #f1f1f8;
}

.login-card {
  background-color: #ffffff;
  padding: 5rem 1.6rem;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 360px;
  text-align: center;
}

.logo-container {
  margin-bottom: 1.5rem;
}

.logo {
  width: 100px;
  height: auto;
}

.login-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: $morado-700;
}

.login-subtitle {
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 1.8rem;
  color: #464646;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.custom-button {
  background-color: $morado-700;
  padding: 0.8rem 1.5rem;
  color: $morado-50;
  width: 80%;
  border: none;
  text-decoration: none;
  margin: auto;
  border-radius: 6px;
  font-size: 1rem;
}

.custom-button:hover {
  background-color: $morado-800;
  cursor: pointer;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 2px solid $morado-300;
  text-decoration: none;
  outline: none;
  margin: 0 auto;
  width: 90%;
  position: relative;
}

.input-icon {
  color: #7143B5;
  font-size: 1.1rem;
}

.input-login {
  width: 80%;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.input-login::placeholder{
  font-size: 1rem;
}

.icon-eye {
  position: absolute;
  right: 10px;
  cursor: pointer;
  background: none;
  color: #a5a5a5;
}

.icon-eye:hover {
  color: #656565;
}

.forgot-password {
  margin-top: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.forgot-password a:hover {
  opacity: 80%;
}

.forgot-password a {
  text-decoration: none;
  color: $morado-300; /* Cambia este color al que prefieras */
  font-weight: bold;
}

.error-labels {
  color: #ff2b2b;
  font-weight: 200;
  margin: 0;
  padding: 0;
}
