<header class="header">
    <div class="header-left">
      <i class="fa-solid fa-handshake icon"></i>
      <span class="logo">Sistema de Rebates</span>
    </div>
  
    <nav class="nav-menu" >
      <a href="#" class="active">Dashboard</a>
      <a href="#" class="active">Usuarios</a>
    </nav>
  
    <div class="header-right">
      <button class="icon-button">
        <i class="fa fa-search"></i>
      </button>
      <button class="icon-button">
        <i class="fa fa-bell"></i>
      </button>
      <div class="user-profile" >
          <img src="daniel.jpeg" alt="Usuario" class="user-avatar" />
          <i class="fa fa-caret-down"></i>
          <div class="user-menu">
            <ul>
              <li>Ver Perfil</li>
              <li>Cerrar Sesión</li>
            </ul>
          </div>
        </div>
    </div>
  
    <!-- Icono de hamburguesa en móvil -->
    <!-- <button class="hamburger-icon" (click)="toggleMenu()">
        <i class="fa fa-bars"></i>
      </button> -->
  </header>
  